body {
	background-image: url('./images/Background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  zoom:75%;
}

.hidden {
  display: none !important;
}

.token {
  width: 150px;
  height: 150px;
  margin: 1px;
}

.token.repeatable {
  width: 150px;
  height: 150px;
  margin: 1px;
}

.token-name {
  text-align: center;
  margin-top: -10px;
  font-size: 24px;
}

#container2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

#positions {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-right: 80px;
  margin-left: 80px;
}

#positions2 {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 80px;
  margin-left: 80px;
}

#positions3 {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
}

.token-container {
  border: 0px solid white;
}

.position {
  width: 75px;
  height: 75px;
  border: 2px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

img {
  -webkit-touch-callout: none;
}
